<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🚦 Traffic Signal Violation Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🚦 Traffic Signal Violation Detection</h1>
    
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Upload & Detect</button>
    </form>

    {% if prediction %}
        <h2>Result:</h2>
        <p>{{ prediction }}</p>
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    
</body>
</html>
